.text {
    text-align: center;
    margin: 20px auto;
    max-width: 80%;
}
.text h2 {
    font-size: 1.3rem;
    color: #333;
    font-weight: 400;
}
.text h1 {
    font-size: 1.7rem;
    color: #222;
    font-weight: bold;
}
.text .first{
    margin-bottom: 15px;
    text-align: left;
    padding: 10px;
}


@media (max-width: 750px) {
    .text h2 {
        font-size: 1.1rem;
    }
    .text h1 {
        font-size: 1.5rem;
    }
}